<!DOCTYPE html>
<html>
  <head lang="zh-CN">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" />
    <title><%= `G6WOW - ${title}` %></title>
    <meta
      name="description"
      content="G6WOW 提供最新、最全的魔兽SF资讯内容，涵盖经典旧世、燃烧的远征、巫妖王之怒等版本。"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
          sans-serif;
        background: url('/bg.jpg') no-repeat center / cover #000;
        color: #000;
        line-height: 1.6;
        min-height: 100%;
      }

      a {
        text-decoration: none;
      }

      .zms-main {
        width: 1000px;
        margin: 0 auto;
        padding: 20px 0;
      }

      .zms-title {
        background-color: #fff;
        border-bottom: 1px solid #ededed;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
      }

      .zms-content {
        padding: 20px;
        background-color: #fff;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <main class="zms-main">
      <%- header %>
      <header class="zms-title"><%= title %></header>
      <article class="zms-content"><%- content %></article>
    </main>
  </body>
</html>
