<style>
  .zms-header {
    height: 60px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url('https://200wow.com/template/dahuaxiyou_koala_free1/imges/nv.png') repeat-x left
      center;
  }

  .zms-header .logo {
    height: 90%;
  }

  .zms-header .navs a {
    margin-right: 30px;
    color: #fff;
  }
</style>
<div class="zms-header">
  <img class="logo" src="https://img.cdn1.vip/i/68d3b38ce529b_1758704524.webp" />
  <div class="navs">
    <a href="#">魔兽数据库</a>
    <a href="#">天赋模拟器</a>
    <a href="#">收藏本站</a>
  </div>
</div>
